@import url("https://fonts.googleapis.com/css?family=Roboto");

.one {
  grid-column: 1 / 2;
  grid-row: 1;
}

.four {
  grid-column: 2 / 2;
  grid-row: 1;
}
.Ticket {
  width: 33.8%;
  height: 703px;
}

.total {
  margin-top: 90px;
  margin-left: -277px;
}

.order-list {
  margin-left: -280px;

  list-style: none;
}
.product-list {
  margin-top: 65px;
  height: 21px;
}

.btn-order {
  width: 316px;
  height: 61px;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #707070;
  background-color: #eeece6;
  margin-left: -42px;
  margin-top: 3px;
}
.text-order {
  margin-left: 75px;
  width: 171px;
  height: 41px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  margin-top: 9px;
}
.price-order {
  width: 40px;
  height: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  margin-left: 246px;
  margin-top: -42px;
}

.Complements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(350px, auto);
  width: 66.2%;
  background-color: #eeece6;
  display: inline-flex;
  list-style: none;
  font-weight: bold;
  width: 66.3%;
  border-right-style: solid;
  border-right-width: 1px;
  height: 703px;
  text-align: center;
}
.Burgers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(350px, auto);
  width: 66.2%;
  background-color: #eeece6;
  display: inline-block;
  list-style: none;
  font-weight: bold;
  width: 66.3%;
  border-right-style: solid;
  border-right-width: 1px;
  height: 703px;
  text-align: center;
}

.btn-complements {
  margin-top: 288px;
  margin-bottom: 16px;
  margin-left: 53px;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  width: 238.6px;
  height: 115px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #707070;
  background-color: #eeece6;
}

.btn-burger {
  margin: 12px;
  display: inline;

  border-radius: 15px;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;

  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #707070;
  background-color: #eeece6;
}

.circle {
  margin-top: 31px;
  width: 46.6px;
  height: 46.6px;
  border-radius: 100px;
  border: solid 2px #fac105;
}
.burgerdoble {
  margin: 5px;
}
.text {
  width: 69px;
  height: 87px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  margin-left: 51px;
  margin-top: -49px;
}
.price {
  width: 41px;
  height: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: left;
  margin-left: 180px;
  margin-top: -34px;
}
.Burger-menu2bur {
  margin-left: -86px;
}
